/deploy-prod.ps1 export-ignore
/deploy-vm.ps1 export-ignore
/docs/checklist-validacao-1.0.0.md export-ignore
/docs/prd-plugin-custos-de-manutencao.docx export-ignore
/docs/prd-plugin-custos-de-manutencao.md export-ignore
/docs/relatorios export-ignore
/docs/session export-ignore
